:root {
    --color-darkblue: #002f95;
    --color-lightblue: #76c5ff;
    --gradient-blue: linear-gradient(to bottom right, var(--color-darkblue), var(--color-lightblue));

    --color-gray: #5e646f;
    --color-lightgray: #acb3c1;
    --gradient-gray: linear-gradient(to bottom right, var(--color-gray), var(--color-lightgray), white);

    --color-sage: #79d9c2;
    --color-darksage: #5aab97;
    --gradient-sageleft: linear-gradient(to left, var(--color-sage), white);
    --gradient-sageright: linear-gradient(to right, var(--color-sage), white, white);
}

@font-face {
    font-family: 'new-font';
    src: url('Figtree-VariableFont_wght.ttf') format('truetype');
}